.spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animation */
    margin: 20% auto; /* Center the spinner */
}

/* Keyframe animation for the spinning effect */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Hide the spinner by default */
.hidden {
    display: none;
}
body {
    margin: 0;
    background-color: black;
    overflow-y: scroll;
    overflow-x: scroll;
}

/* Style for the header */
.header {
    display: flex;
    justify-content: space-between; /* Aligns items horizontally */
    align-items: center; /* Aligns items vertically */
    border: 2px solid;
    height: 100px;
    background-color: black;
    transition: height 0.3s; /* Smooth transition for height change */
}

/* Style for the logo/text */
#font {
    margin-left: 1%;
    font-family: "Poetsen One", sans-serif;
    color: white;
}

/* Apply font properties using a class */
.poetsen-one-regular {
    font-weight: 400;
    font-style: normal;
}

/* Hover effect for the header */
.header:hover {
    height: 120px;
    text-shadow: 2px 2px 4px aqua;
    box-shadow: 0px 4px 100px rgb(253, 253, 253);
}
#blur {
    display: flex;
    border: 2px solid;
    border-radius: 50px;
    height: 7000px;
    width: 50%;
    border-color: white;
}
#blur:hover {
    opacity: 10% ease;
    background-color: silver;
    box-shadow: 0px 4px 100px  white;

    width: 100%;
    transition: width 0.5s;
    text-align: end;
    height: 7000px;
}
#blur:hover::after {
    width: 0% ;
    transition: width 10s;
}
#hi {
    position: relative;
    left: 40%;
}
#no {
    height: 10000px;
}
